.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.6);

  img {
    height: 300px;
    width: 200px;
    object-fit: cover;
  }
}
