.header {
  background-color: hsla(244, 70%, 50%, 0.6);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .name {
    font-size: 2rem;
    flex-basis: 100%;
    color: hsla(90, 90%, 50%, 0.7);
  }

  .email {
    color: white;
    flex-basis: 100%;
  }
}
